bin
*release
*debug
*ipch
*.sdf
*.aps
*.user
*.opensdf
*.suo
*.tmp
*.zip
*.rar
*.7z
_*
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/
_ReSharper*/
.vs/
packages/
